/* Global color customization */

:root {
    --code-max-height: 60rem;
  }
  

/* Light mode theming */
:root,
:root[color-mode="light"] {
  --header-background: #003366; /* Dark Blue */
  --header-font-color: #ffffff;

  --body-background: #F0F2F5; /* Light Gray */
  --body-font-color: #343a40;

  --mark-color: #FFA500; /* Orange */

  --button-background: #28A745; /* Green */
  --button-border-color: #218838;

  --link-color: #0066cc; /* Blue */
  --link-color-visited: #9370DB;

  --footer-background: #2f333e;
  --footer-font-color: #ffffff;
  --footer-link-color: #FFA500; /* Orange */
  --footer-link-color-visited: #FFA500;
}
@media (prefers-color-scheme: light) {
    :root {
        --header-background: #003366; /* Dark Blue */
        --header-font-color: #ffffff;

        --body-background: #F0F2F5; /* Light Gray */
        --body-font-color: #343a40;

        --mark-color: #FFA500; /* Orange */

        --button-background: #28A745; /* Green */
        --button-border-color: #218838;

        --link-color: #0066cc; /* Blue */
        --link-color-visited: #9370DB;

        --footer-background: #2f333e;
        --footer-font-color: #ffffff;
        --footer-link-color: #FFA500; /* Orange */
        --footer-link-color-visited: #FFA500;
    }

}

/* Dark mode theming */
:root[color-mode="dark"] {
  --header-background: #003366; /* Dark Blue */
  --header-font-color: #ffffff;

  --body-background: #343d46; /* Dark Gray */
  --body-font-color: #f8f9fa;

  --mark-color: #FFA500; /* Orange */

  --button-background: #28A745; /* Green */
  --button-border-color: #218838;

  --link-color: #66ccff; /* Blue */
  --link-color-visited: #9370DB;

  --footer-background: #2f333e;
  --footer-font-color: #ffffff;
  --footer-link-color: #FFA500; /* Orange */
  --footer-link-color-visited: #FFA500;
}
@media (prefers-color-scheme: dark) {
    :root {
        --header-background: #003366; /* Dark Blue */
        --header-font-color: #ffffff;
      
        --body-background: #343d46; /* Dark Gray */
        --body-font-color: #f8f9fa;
      
        --mark-color: #FFA500; /* Orange */
      
        --button-background: #28A745; /* Green */
        --button-border-color: #218838;
      
        --link-color: #66ccff; /* Blue */
        --link-color-visited: #9370DB;
      
        --footer-background: #2f333e;
        --footer-font-color: #ffffff;
        --footer-link-color: #FFA500; /* Orange */
        --footer-link-color-visited: #FFA500;
    }

}
